{% extends "_layout.twig" %}

{% block body %}
	<article class="post-list">
		{% set zodiacIconMap = {
      2022: "dan",
      2021: "suu",
      2020: "ty",
      2019: "hoi",
      2018: "tuat",
      2017: "dau"
    } %}

		{% for list in postLists %}
			<section id="{{ list.year }}" class="year">
				<div class="header">
					<i class="button icon-down-open"></i>
					<span class="line"></span><img alt="animal" src="/assets/images/{{ zodiacIconMap[list.year] }}.png"/>
				</div>

				<div class="entries">
					{% for post in list.posts %}
						<div class="entry" itemscope="" itemprop="blogPost" itemtype="https://schema.org/BlogPosting">
							<a aria-current="false" title="Go to post detail" itemprop="url" href="{{ post.url }}">
								<h4 class="entry-title" itemprop="name">{{ post.title }}</h4>
								<time class="entry-date" itemprop="datePublished" datetime="{{ post.dateStr }}">Published
									<!-- -->
									{{ post.prettyDateStr }}
								</time>
							</a>
						</div>
					{% endfor %}
				</div>

			</section>
		{% endfor %}
	</article>
{% endblock %}
